.contact-the-artist {
  h2 {
    margin-bottom: 20px;
  }

  .contact-form {
    max-width: 400px;

    .row {
      margin-bottom: 15px;
    }

    input[type='text'],
    input[type='email'] {
      width: 200px;
    }

    textarea {
      height: 150px;
      width: 400px;
    }

    .btn {
      background-color: $colorado-blue;
      color: $colorado-white;
    }
  }
}



@media (max-width: 767px) {
  .contact-the-artist .contact-form textarea {
    width: 300px;
  }
}

@media (max-width: 350px) {
  .contact-the-artist .contact-form textarea {
    width: 250px;
  }
}
