@import url(https://fonts.googleapis.com/css?family=Comfortaa:400,300);

body {
  font-family: 'Comfortaa', cursive;
  padding-top: 50px;
}

.navbar {
  background-color: $colorado-red;
  width: 100%;

  .cart {
    margin-right: 20px;
  }
}

.navbar-default .navbar-toggle {
  &:hover,
  &:focus {
    background-color: $colorado-red;
  }

  .icon-bar {
    background-color: $colorado-yellow-light;
  }
}

.main-link {
  padding: 0 20px;
}

.navbar-default .navbar-nav > li > a {
  color: $white;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 16px;

  &:visited,
  &:active {
    background-color: $colorado-red;
    color: $white;
  }
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: $colorado-red;
  color: $colorado-yellow-light;
}

.navbar-default .navbar-nav > li > a:hover {
  background-color: $colorado-red;
  color: $colorado-yellow-light;
}

.navbar-default .navbar-nav > li > a:focus {
  color: $white;
}

.nav .open > a {
  background-color: $colorado-red;
  color: $colorado-yellow-light;

  &:hover,
  &:focus {
    background-color: $colorado-red;
    color: $colorado-yellow-light;
  }
}

.dropdown-menu .sub-menu {
  left: 100%;
  position: absolute;
  top: 0;
  visibility: hidden;
  margin-top: -1px;
}

.dropdown-menu li > a {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 10px 0;
}

@media screen and (min-width: 768px) {
  .dropdown-menu li:hover .sub-menu {
    visibility: visible;
    left: -30px;
  }

  .dropdown:hover .dropdown-menu {
    display: block;
  }

  .hover-only {
    pointer-events: none;
  }
}

@media (max-width: 1160px) {
  .main-link {
    padding: 0 5px;
  }
}

@media (max-width: 810px) and (min-width: 768px) {
  .main-link {
    padding: 0;
  }
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: $white;

    &:hover,
    &:focus {
      background-color: $colorado-red;
      color: $colorado-yellow-light;
    }
  }

  .cart {
    margin-left: 22px;
  }

  .main-link {
    padding: 0 20px;
  }

  .home-link > a {
    color: $colorado-yellow-light !important;
  }
}

.bottom-nav {
  background-color: $colorado-red;
  height: 30px;
  margin-top: 20px;
}
